$color-light-gray: #d3d3d3;
$color-input-gray: #e9edec;
$color-text-gray: #959a99;
$color-background-gray: #f3f3f3;
$color-header-gray: #676a69;
$color-sidebar-text-gray: #595959;
$color-text-gray: #969797;
$color-text-feed-gray: #59595C;
$color-background-frame: #ece8e9;

$color-blue: #4285f6;
$color-yellow: #fbbd05;
$color-red: #ea4235;
$color-green: #35aa58;

$color-facebook: #3b5998;
$color-twitter: #4099ff;
$color-googleplus: #dd4b39;

$color-bar-back: #efefef;
$color-bar-1: #f35757;
$color-bar-2: #03afd7;

$text-color: $color-header-gray;

$input-bg: #fff;

$font-size-h2: 30px;
$font-size-base: 14px;
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-alt: Tahoma, Geneva, Verdana, sans-serif;

$icon-font-path: "fonts/fonts-bootstrap/";
$fa-font-path: 'fonts/fonts-awesome/';

$btn-default-color: #fff;
$btn-default-bg: #4285f6;

$btn-primary-bg: #595e5d;

$hr-border: #c1c1c1;

$container-large-desktop: 1220px;

$footer-container-top: 80px;